aws_prmtbly() {
	AWS_ACCOUNT_ID=123456789012
	AWS_ACCESS_KEY_ID=AKIXXXXXXXXXXXXXXXXX
	AWS_SECRET_KEY=ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
	AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY
	AWS_DEFAULT_REGION=us-east-1
	echo -n "AWS Region [$AWS_DEFAULT_REGION]: "
	read region_input
	[ -n "$region_input" ] && AWS_DEFAULT_REGION="$region_input"
	export AWS_ACCOUNT_ID AWS_ACCESS_KEY_ID AWS_SECRET_KEY AWS_SECRET_ACCESS_KEY AWS_DEFAULT_REGION
	export GIT_PS1_PRE='\[\033[01;35m\]AWS Purple\[\033[00m\] \w'

	unset EC2_PRIVATE_KEY EC2_CERT
}

# export GIT_PS1_PRE='\[\033[01;31m\]AWS RED\[\033[00m\] \w'
# export GIT_PS1_PRE='\[\033[01;34m\]AWS BLUE\[\033[00m\] \w'
# export GIT_PS1_PRE='\[\033[01;32m\]AWS GREEN\[\033[00m\] \w'
# export GIT_PS1_PRE='\[\033[01;35m\]AWS PURPLE\[\033[00m\] \w'
